#build files
dist

# dependencies
node_modules

#tests
selenium-debug.log
reports
screenshots
testium
tmp-*
npm-debug.log
.idea
downloads/*
!functional-tests/downloads/.gitkeep
!functional-tests/downloads/example.xlsx
docker-compose.override.yml
!downloads/.gitkeep
!functional-tests/reports/.gitkeep
!functional-tests/reports/report/.gitkeep
!functional-tests/reports/report/features/.gitkeep
!functional-tests/performance/.gitkeep
functional-tests/.tmp
!example/reports/.gitkeep
!reports/.gitkeep
.DS_Store
functional-tests/package-lock.json

website/yarn.lock
website/node_modules
website/i18n/*

local.log
browserstack.err