# dependencies
node_modules

#tests
selenium-debug.log
reports
screenshots
testium
tmp-*
npm-debug.log
.idea
downloads/*
docker-compose.override.yml
!downloads/.gitkeep
!functional-tests/reports/.gitkeep
!example/reports/.gitkeep
!reports/.gitkeep
.DS_Store
