{% extends "base.html" %}

{% block site_meta %}
  {{ super() }}

  <meta property="og:type" content="product"/>
  {% if config.site_name %}<meta property="og:site_name" content="{{ config.site_name }}"/>{% endif %}
  {% if config.site_description %}<meta property="og:title" content="{{ config.site_description }}"/>{% endif %}
  {% if config.site_url %}<meta property="og:url" content="{{ config.site_url }}"/>{% endif %}
  {% if config.extra.meta_image %}<meta property="og:image" content="{{ config.site_url }}{{ config.extra.meta_image }}"/>{% endif %}
{% endblock %}
